html {
    --background-color: #1F2833;
    --primary-color: #66fcf1;
    --secondary-color: #C5C6C7;
    --name-color: purple;
    --resume-color: blue;
    --portfolio-color: green;
    --contact-color: yellow;    
}

body {
    color: var(--secondary-color);
    font-size: 1vw;
    margin: 0;
}

nav {
    padding-right: 20px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 1.5vw;
}

nav div {
    padding: 5px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.container {
    display: grid;
    grid-template-columns: 3vh [border-left] auto [border-right] 3vh;
    grid-template-rows: 3vh [border-top] 5vh [nav] 89vh [border-bottom] 3vh;
    justify-content: stretch;    
    align-content: stretch;    
    position: fixed;
}

.border-top {
    background-color: var(--primary-color);
    grid-column: 1 / span 3;
    grid-row: 1;
}  

.border-bottom {
    background-color: var(--primary-color);
    grid-column: 1 / span 3;
    grid-row: 4;
}

.border-left {
    background-color: var(--primary-color);
    grid-column: 1;
    grid-row: 1/ span 4; 
}

.border-right {
    background-color: var(--primary-color);
    grid-column: 3;
    grid-row: 1/ span 4; 
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 100%;
    width:100%;
    grid-column: 2;
    grid-row: 3;
    background-color: var(--background-color);
    font-size: 2vw;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge hide scrollbar*/
    scrollbar-width: none;  /* Firefox hide scrollbar*/
}

.main::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */ 
    display: none;
}

.main h1 {
    color: var(--primary-color);
}

#name {
    display: flex;
    width: 94vw;
    height: 90vh;
    margin-bottom: 4vh;
    align-items: center;
    justify-content: center;
}

#resume {
    width: 94vw;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

#portfolio {
    width: 94vw;

    margin: 50px auto;
    display: flex;
    justify-content: center;
}

#contact {
    width: 94vw;

    margin: 50px auto;
    display: flex;
    justify-content: center;
}