.container {
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Colors Section */

.color {
    height:300px;
    width: 150px;
    color: white;
    margin: 2px;
}

/* Font Styles Section */

.font {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 450px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.juliussansone {
    font-family: "Julius Sans One";
    background-color: #00646625;
}

.quicksand {
    font-family: "Quicksand";
    background-color: #27264025;
}

.barlowcondensed {
    font-family: "Barlow Condensed";
    background-color: #4D194D25;
}


/* Element Styles Section */

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 5px;
}

.h1 {
    background-color: #00646625;
}

.h2{
    background-color: #0B525B25;
}

.h3 {
    background-color: #1B3A4B25;
}

.h4 {
    background-color: #31224425;
}

.p {
    background-color: #4D194D25;
}