section {
    margin: 25px auto;
}

ul {
    background-color: #4D194D20;
    border: 1px solid #3E1F47;
}

/* Colors Section */

.colors {
    margin: 10px auto;
}

.colors th {
    text-align: left;
    font-weight: 400;
}

.colors td {
    height: 250px;
    width: 150px;
    color: white;
    vertical-align: bottom;
    text-align: center;
}

/* Text Styling Section */

.text_styles tr {
    padding-bottom: 10px;
}

.text_styles th {
    text-align: left;
    font-weight: 400;
    color: #3E1F47;
}

.text_styles td {
    border: 1px solid #4D194D;
    width: 750px;
    padding: 10px;
}

.juliussansone {
    font-family: "Julius Sans One";
    background-color: #00646625;
}

.robotoflex {
    font-family: "Roboto Flex";
    background-color: #0B525B25;
}

.archivonarrow {
    font-family: "Archivo Narrow";
    background-color: #1B3A4B25;
}

.quicksand {
    font-family: "Quicksand";
    background-color: #27264025;
}